.q {
  margin: 2em;
}
.accordion-button:not(.collapsed) {
  color: $primary;
  background-color: #9453a662;
}

.accordion-button:focus {
  border-color: #9453a6a6;
  box-shadow: 0 0 0 0.25rem #9453a681;
}
.accordion-collapse {
  background-color: #9453a636;
  color: #9453a6cb;
}

.accordion-button {
  background-color: #8cbf3f9a;
  color: $primary;
}
.accordion {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
